<form action="/addPlace" method="post">
  <label for="city">City</label><input type="text" name="city">
  <label for="description">Desc</label><input type="text" name="description" value="">
  <label for="stayLength">Stay Length</label><input type="text" name="stayLength" value="">
  <label for="picture">url to pic</label><input type="text" name="picture" value="">
  <input type="submit" value="Add Place You've Been!!!!!!!">
</form>
<script type="text/javascript">
  $("input[name=city]").focus();
</script>
